<h1>Pipes</h1>
<p>{{ texto }}</p>
<p>{{ texto | uppercase }}</p>
<p>{{ texto | lowercase }}</p>
<p>{{ texto | slice:3 }}</p>
<p>{{ texto | slice:3:5 | uppercase }}</p>

<p>{{ num }}</p>
<p>{{ num | doble:3:5 }}</p>
<p>{{ num | currency:'EUR' }}</p>
<p>{{ num | number:'1.2-4' }}</p>

<p>{{ fecha }}</p>
<p>{{ fecha | date }}</p>
<p>{{ fecha | date:'dd/MMMM/yy' }}</p>
<button class="btn btn-danger" type="button">Un boton</button>

<p>{{ texto | reverse }}</p>
<p>{{ "Un texto" | reverse }}</p>
<p>{{ texto | ocultar:["Un", "o"] }}</p>



<h1>Pipes impuros</h1>
<input type="text" #input>
<button type="button" (click)="addMascota(input.value)">Añadir</button>
<ul>
  <li *ngFor="let mascota of mascotas">{{ mascota }}</li>
</ul>
<ul>
  <li *ngFor="let mascota of mascotas | filtro:'r'">{{ mascota }}</li>
</ul>

<h1>Pipe Async</h1>
<p>Mensaje: {{ mensaje | async }}</p>
